<div class="row mt-3">
    <div class="col">
      <h3>Add a Single Item</h3>
      <!-- New Item Input Row -->
      <form action="{% url 'add_item' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="item" class="form-control" placeholder="New item" required>
        </div>
        <!-- Group Dropdown and Add Button Row -->
        <div class="form-row">
          <div class="col">
            <select name="group" class="form-control" {% if grocery_list|length == 0 %}disabled{% endif %}>
              {% for group in group_options %}
                <option value="{{ group }}">Group {{ group|add:1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Add Item</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  